.idea/caches/
.idea/deviceStreaming.xml
.idea/misc.xml
.idea/modules.xml
.idea/*.iml
.idea/vcs.xml
app/.idea/
*.iml
.gradle/
build/
app/build/
app/src/main/java/com/example/neversnooze/WeatherConfig.kt

app/src/main/java/com/example/neversnooze/WeatherConfig.kt
app/app/src/main/java/com/example/neversnooze/WeatherConfig.kt
app/.kotlin/